.post_list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: transparent;
    border-radius: .25rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}
.post_list__title {
    font-size: 1rem;
    font-weight: 600;
    color: #666;
    opacity: 0.5;
}
.post_list__title:hover {
    opacity: 1;
}
.post_list ul {
    display: block;
    width: 100%;
    padding: 0;
    list-style-type: none;
}